nav {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 20px;
    color: #1f6d85;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2em;
    font-weight: bold;
}

.headerH1 {
    text-decoration: none;
    color: #1f6d85;
    transition: all 0.3s ease;
}

.headerH1:hover {
    color: #114e61;
    transform: scale(1.05);
}

.login-btn {
    background-color: #1f6d85;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color: #114e61;
    transform: scale(1.05);
}